<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="/static/style.css">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

      <title>Quick_Glance</title>
    </head>
   <body>
      <div class="main">
         <h1>Take a quick glance at the price of the item you want to buy!</h1>
      <div class="topnav">
         <a class="active" href="{{ url_for("result")}}">Quick Glance</a>
         <div class="search-container">
            <form action="{{ url_for("result")}}" method="post">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit" onclick="$('#loading').show();">Submit</button>
            </form>
         </div>
         <div id="loading" style="display:none;">Loading...</div>
         <p>{{ notice }}</p>
      </div>
      <div class="info">
         <table>
         {% for value in result %}

      
                  <th> <img src= {{ value["image"] }}> </th>
                  <td> <a href= {{ value["product_link"] }}  target="_blank">{{ value["product_name"] }}  </a> </td>
                  <td> {{ value["price"] }} </td>
                  <td> {{ value["web_site"] }}</td>
               </tr>
            {% endfor %}
         </table>
      </div>
      </div>
      
   </body>
</html>